#preview {
word-wrap: break-word;
}
#editor {
  min-height: 12rem;
  font-size: 1rem;
  font-family: monospace;
  color: black;
  border: none;
  border-radius: 0;
}
#editor:focus {
  box-shadow: none;
}
.card {
    max-width: 50rem;
  border-radius: 0;
  background-color: #79BEC5;
    border: 0.15rem black solid;
}
.card-header {
background-color: #527C84;
margin-right: -0.01rem;
margin-top: -0.01rem;
  font-size: 1.5rem;
  border-radius: 0 !important;
}
.card-body {

  background-color: #79BEC5 !important;
}
code, pre {
  background-color: white;
  font-family: monospace;
  color: black;
  font-weight: bold;
}
blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}
